@use "variables" as v;

footer {
    padding-top: v.$space-sm;
    .nav_footer {
        .logos_rrss {
            display: flex;
            justify-content: space-around;
            padding: 0;
            li {
                list-style: none;

                a {
                    text-decoration: none;

                    .rrss {
                        width: v.$size-icon-lg;
                        height: auto;
                    }
                }
            }
        }
        @include v.moviles {
            .logos_rrss {
                li {
                    a {
                        .rrss {
                            width: v.$size-icon-md;
                        }
                    }
                }
            }
        }
    }
    section {
        display: grid;
        height: 10rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        text-align: center;
        ul {
            grid-column: 1/2;
            grid-row: 1/2;
            justify-items: center;
            align-content: center;
            list-style: none;
            padding: 0;
            a {
                color: v.$text-light;
            }
        }
        p {
            grid-column: 1/2;
            grid-row: 2/3;
            justify-self: center;
            align-content: center;
        }
        a {
            grid-column: 2/3;
            grid-row: 1/3;
            justify-self: center;
            .img_footer {
                @include v.media-frame(v.$full-size, v.$full-size);
            }
        }
    }

}
